<!-- FOOTER 
  <footer class="footer"> 
    {% if page.footerEndereco %}
      <div style="display: flex; flex-wrap: wrap; width: 60%; margin: 10px auto; justify-content: space-between; align-items: center; text-align: left;">
	
        {{page.logoPortal}}

        <div class="endereco">
          {{page.footerEndereco}}
        </div>

        <div class="socia-media-ft">
          <h4 style="margin-bottom: 10px; font-size: .8em;">Redes Sociais</h4>
          {{ page.redesSociaisPortal }}
        </div>
		  </div>  
    {% endif %}   
      <div style="display: contents; width: 40%; text-align: center; padding-bottom: 20px;">
          <div style="display: flex; flex-wrap: wrap; width: 60%; margin: 0 auto; justify-content: space-between;">
              
              <a href="http://rj.gov.br/"><div class="logo-branco-rodape" style="top: 0; left: 0;"></div></a>
              
              <div style="margin-top: 10px;">
              <a href="https://www.proderj.rj.gov.br/" target="_blank">
                <div class="logo-proderj-fixo" style="top: 0; left: 0; width:200px; height:47px">&nbsp;</div>
              </a>
          </div>

          </div>  
      </div>
        <!-- VOLTAR AO TOPO 
      <a id="back2Top" title="Voltar ao topo" href="#">&#10148;</a>-->
<!-- #FOOTER -->