@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#alertBox.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
  }
#alertBox.alert {
  margin-top: 50px;
  display: none;
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
#alertBox, ::after, ::before {
  box-sizing: border-box;
}
/* * Loading */ 
#indexDireita9>section>.reserva-direita-content{
    display: none;
  }

  .loading {
    display: flex;
  }

  .loading>h2 {
    margin: 10px;
  }

  .loading-container {
    margin-top: 50px;
  }

  .loading>img {
    margin: 10px !important;
    width: 150px !important;
    height: auto !important;
  }

/* Seção serviços */
.container-servicos {
    width: 70%;
    margin: 0px 80px 0 auto;
}

.main-menu {
    border-top: 3px solid #dedada;
    margin-top: 45px;
    display: none;
}

#paginaInicial9.direitaTituloTexto {
    display: flex;
    margin-top: 50px;
}

.direitaTituloTexto h3 {
    margin-right: 5px;
    color: #000;
}

.direitaTituloTexto a {
    color: black;
    text-decoration: none;
}

.direitaTituloTexto a:link a:visited a:active {
    color: black;
}

.direitaTituloTexto a:hover {
    text-decoration: underline !important;
}

.titulo-menu {
    font-size: 2.6rem;
    color: #00508a;
    padding: 10px 0;
}

.subtitulo-main {
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.container-busca {
    display: flex;
    position: relative;
    margin: 10px 0;
}

.ui-datepicker-year {
    display: none;
}

.buscar-main {
    width: 100%;
}

.Busca-texto {
    width: 100%;
    height: 35px;
    float: right;
    background-position: left;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 2px solid #828282;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-indent: 25px;
    font-weight: 700;
    font-size: 1rem;
}

.Busca-texto::placeholder {
    color: #dedada;
}

.loupe>img {
    width: 25px !important;
    height: 25px !important;
    position: absolute !important;
    right: 10px !important;
    top: 4px !important;
    transform: rotate(90deg) !important;
    cursor: pointer !important;
}

.calendario-main {
    width: 35px;
    height: 35px;
    border: 2px solid #828282;
    margin-right: 6px;
    border-radius: 5px;
}

.calendario-texto {
    width: 20px !important;
    height: 20px !important;
    position: relative !important;
    top: 6px !important;
    left: 5px !important;
    cursor: pointer !important;
}

.tabela {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    transition-duration: 0.4s;
    border-collapse: collapse;
    text-align: center;
}

.tabela td,
#tabela th {
    border: 1px solid #ddd;
    padding: 8px 5px 8px 5px;
}

.tabela tr:nth-child(odd) {
    background-color: #e8ecef;
}

.tabela th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #00508a;
    color: white;
    border-left: 2px solid #ddd;
}

.tabela td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.tabela td:hover {
    white-space: normal;
    text-overflow: inherit;
    overflow: visible;
}

.tabela a {
    color: black !important;
}

.tabela a:visited a:active a:link {
    color: black !important;
}

.tabela {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    transition-duration: 0.4s;
    border-collapse: collapse;
    text-align: center;
}

/* .space {
    width: 100px;
} */

.td-img-user img {
    display: block;
    max-width: 100%;
    height: 40px;
    margin: 0 auto;
}

.td-img img {
    display: block;
    max-width: 100%;
    height: 30px;
    margin: 0 auto;
    cursor: pointer;
}


.burger-menu {
    display: block;
    margin-left: 100px;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 1px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 200px;
    z-index: 1;
    margin-top: 10px;
}

.dropdown-content span {
    color: white !important;
    padding: 10px 10px !important;
    text-decoration: none !important;
    display: block !important;
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    font-size: 16px !important;
    border-bottom: 1px solid #424242 !important;
    cursor: pointer !important;
}

.dropdown-content span::after {
    content: ">" !important;
    display: inline-block !important;
    position: absolute !important;
    right: 10px !important;
}

.dropdown:hover .dropbtn {
    background-color: #ffffff;
}

/* paginação  */
.pagination ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  background: #fff;
  padding: 8px;
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.pagination ul li{
  color: #00508a;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
.pagination ul li.numb{
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
  border-radius: 50%;
}
.pagination ul li.numb.first{
  margin: 0px 3px 0 -5px;
}
.pagination ul li.numb.last{
  margin: 0px -5px 0 3px;
}
.pagination ul li.dots{
  font-size: 22px;
  cursor: default;
}
.pagination ul li.btn{
  padding: 0 20px;
  border-radius: 50px;
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover{
  color: #fff;
  background: #00508a;
}

/* Modal quem somos */

    h2,
    p {
      margin: 0;
      padding: 0;
    }

    ul {
      padding: 0;
      list-style: none;
    }

    .ulContato li,
    .ulMaisInfos li {
      padding-left: 10px;
    }

    .ulContato li > a {
      display: block;
      text-decoration: none;
      color: #333;
      margin-bottom: 5px;
    }

    .ulContato li > a:hover {
      text-decoration: underline rgba(0, 80, 138, 1);
    }

    .ulMaisInfos li > p {
      margin-bottom: 5px;
    }

    .ulContato h3::after,
    .ulMaisInfos h3::after {
      content: "";
      display: block;
      width: 50px;
      height: 5px;
      border-radius: 4px;
      background: #ddd;
    }

    .modal {
      position: fixed;
      display: flex;
      width: 100vw;
      height: 100vh;
      overflow: none;
      align-items: center;
      background: rgba(0, 0, 0, 0.5);
      justify-content: center;
      opacity: 1;
    }

    .modal.modalAtivo {
      opacity: 1;
    }

    .modal .modal-content {
      justify-content: center;
      width: calc(76% - 20%);
      height: 75%;
      border-radius: 10px;
      background: white;
      /* animation: fade-in 0.3s linear; */
      transform: scale(1);
      overflow-y: auto;
    }

    .modal .modal-content::-webkit-scrollbar {
      width: 12px;
    }

    .modal .modal-content::-webkit-scrollbar-track {
      background-color: white;
      border-radius: 7px;
    }

    .modal .modal-content::-webkit-scrollbar-thumb {
      background: linear-gradient(
        0deg,
        rgba(0, 80, 138, 1) 20%,
        rgba(255, 255, 255, 1) 100%
      );
      border-radius: 7px;
      border: calc(2px + 0.5px) solid #fff;
    }

    .content-top {
      display: flex;
      place-items: center;
      place-content: center;
      height: 50%;
      background: rgb(0, 80, 138);
      border-top-left-radius: 10px;
    }

    .pessoa-area {
      display: grid;
      place-items: center;
      place-content: center;
      margin: 15px 0;
    }

    .img {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      background: url("") no-repeat;
      background-size: cover;
      box-shadow: 0 0 0 3px #fff, 0 0 0 6px rgb(0, 80, 138);
    }

    .content-bottom {
      height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-content: start;
      place-items: center;
    }

    .nome,
    .cargo,
    .matricula {
      color: white;
      padding: 5px 0;
    }

    .informacoes-area {
      height: 100%;
      width: 100%;
      padding: 15px 0;
      color: #333;
    }

    .informacoes {
      display: grid;
      grid-template-columns: 1fr;
    }

    .informacoes > ul {
      padding: 20px;
      width: 200px;
    }

    .informacoes > div:first-child {
      padding-right: 0;
    }

    .informacoes > ul li {
    display: block;
    padding: 5px 0;
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

    .titleModal {
    display: block;
    padding: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 280px;
    white-space: nowrap;
    }

    .informacoes-area:first-child .titleModal {
      padding-right: 0;
    }

    .informacoes-area:last-child .titleModal {
      padding-left: 0;
    }

    .informacoes-area h2::after {
      content: "";
      display: block;
      width: 50px;
      height: 5px;
      border-radius: 4px;
      background: rgba(0, 80, 138, 1);
    }

    @keyframes fade-in {
      from {
        opacity: 0;
        transform: scale(0);
        transition: transform 0.3s ease-in-out;
      }
      to {
        opacity: 1;
        transform: scale(1);
      }
    }

    /* Media Query */

@media screen and (max-width: 1023px) {
    .modal-content {
        width: 85%;
        overflow-y: auto;
        overflow-x: hidden;
        height: 80%;
    }

    .content-top {
        height: auto;
        display: block;
        grid-template-columns: 100%;
    }

    .flex-content {
        flex-direction: column;
        margin: 30px 0;
    }

    .flex-content>div {
        margin: 15px 0;
        align-items: flex-end;
    }

    .content-bottom {
        height: auto;
        display: block;
    }

    .content-bottom>div {
        align-items: center;
    }

    .content-bottom>div:nth-of-type(2) {
        position: static;
        /* box-shadow: 0 0 0 2px #ddd, 0 0 0 3px #fff, 0 0 0 4px #ddd; */
    }

    .content-bottom>div:last-child {
        align-items: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .content-bottom>div:nth-of-type(2) {
        bottom: 0;
    }
}



@media only screen and (max-width: 680px) {
    .td-img-user img {
        display: none;
    }
}
