{% include directory ~ "/partials/header.html.twig" %}
<section id="main" style="min-height: 80vh;" data-aos="zoom-in-up">
    <div class = "formularioDireitaAbas">
    <div style = "display: none;" id = "formularioAba1" class = "formularioDireitaAba">
        <h2 style = "font-weight: bold;">DIT</h2>
        <div class = "formularioDireitaAbaDocumentos">
            <ul>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Solicitação de Cadastramento de Projeto no SAP
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Solicitação de Mudança no Ambiente de Produção de TIC
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Termo de Responsabilidade
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Formulário de Exceção de Políticas e Padrões de Segurança
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Formulário de Exceção e Padrões de Segurança - Preenchimento
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Solicitação de Máquina Virtual
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Programação Semestral de Férias
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Solicitação de Restore de Dados
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Solicitação de Entrada de Servidor no CAERJ
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Transporte de Fitas
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Solicitação de Backup
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Termo de Custódia de Equipamentos / Software
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Solicitação de Endereço de IP
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Abertura de Portas
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
            </ul>
        </div>
    </div>
    <div style = "display: none;" id = "formularioAba2" class = "formularioDireitaAba">
        <h2 style = "font-weight: bold;">DSI</h2>
        <div class = "formularioDireitaAbaDocumentos">
            <ul>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Informe
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Modelo de Caso de Uso P2
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Modelo de Caso de Uso P1
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Relatório de Atendimento
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Pesquisa de Satisfação
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Nota de Desenvolvimento
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Prestação de Conta de Viagem a Serviço
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
            </ul>
        </div>
    </div>
    <div style = "display: none;" id = "formularioAba3" class = "formularioDireitaAba">
        <h2 style = "font-weight: bold;">DAF</h2>
        <div class = "formularioDireitaAbaDocumentos">
            <ul>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Solicitação de Passagem
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Relatório de Participação em Evento
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Guia de Remessa
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Relatório de Comprovação de Despesas com Diárias de Cópias de Translado
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Folha de Colagem de Comprovantes de Conta Adiantamento
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Ficha de Movimentação Pessoal
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Solicitação de 1/3 das Férias
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Solicitação de Postagem
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Relatório do Supervisor - Verso
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Prestação de Conta Adiantamento para Locomoção de Servidor
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Despacho Continuação de Processo
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Ofício Proderj
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            SVN - Formulário de Requisição de Serviço
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Solicitação de Diárias de Cotas de Translado
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Fax
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Relação de Participantes
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Relatório do Supervisor - Frente
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Formulário de Solicitação de Acesso VPN
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Requerimento com Carimbro
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Tarnsferência de Bens Patrimoniais
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Solicitação de Compra
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Checklist de Servidores - 4 Páginas
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Recibo
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Ficha de Registro de Férias
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
            </ul>
        </div>
    </div>
    <div style = "display: none;" id = "formularioAba4" class = "formularioDireitaAba">
        <h2 style = "font-weight: bold;">DIT/GBD</h2>
        <div class = "formularioDireitaAbaDocumentos">
            <ul>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Criação Acesso a Base de Dados
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Criação Base de Dados
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Criação Tabela Base de Dados
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Demanda Criação Servidor
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Excecução de Script
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Migração Base de Dados
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
                <li><a href = "">
                    <div class = "formularioDireitaAbaDocumentosLi">
                        <p>
                            Solicitar Backup
                        </p>
                        <h2>
                            |
                        </h2>
                        <img src = "img/Ícones/Icon_Download.png">
                    </div></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</section>
{% include directory ~ "/partials/footer.html.twig" %}
