<h2><b>Protocolo do Formulário Para Contribuições</b></h2>
<p>Olá {{ message_body.nome }}, segue seu protocolo <b>{{ message_body.protocolo }}</b> referente a sua contribuição abaixo:</p>
<p><b>Contribuição</b>: {{ message_body.texto }}</p>
<p><b>Justificativa</b>: {{ message_body.justificativa }}</p>